footer {
    background-color: $grey;
    padding: 120px 0px 40px 0px;
    .type-uppercase {
        color: $dark_grey;
    }
    // Weather Widget
    .splw-main-wrapper {
        margin: 0 !important;
        max-width: 100% !important;
        .splw-weather-title {
            margin-bottom: 0 !important;
        }
        .splw-lite-wrapper {
            padding-top: 0;
            .splw-lite-header {
                text-align: left;
                margin: 0;
            }
        }
        .splw-lite-body {
            padding: 0;
        }
        .splw-lite-current-temp {
            margin: 0;
        }
        .splw-cur-temp {
            justify-content: start;
        }
    }
    // Social Widget
    .wp-block-social-links {
        .wp-social-link {
            background-color: #3330 !important;
            svg {
                color: $black !important;
                width: 20px !important;
                height: auto !important;
            }
        }
    }
    // Newsletter Widget
    .emaillist {
        form {
            @include flexbox(row, start, center);
            .es-field-wrap {
                margin-bottom: 0;
                input[type="email"] {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $black;
                    background-color: $grey;
                    width: 300px;
                    max-width: 100%;
                }
            }
            input[type="submit"] {
                font-family: "Font Awesome 5 Free", "FontAwesome";
                font-weight: 800;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: $black;
                border: 1px solid $black_overlay;
                background: inherit;
                transition: all 0.3s ease-in;
                &:hover {
                    background: $black;
                    color: $white;
                }
            }
        }
    }
    .toc {
        letter-spacing: 1px;
        font-size: 12px;
        color: $dark_grey;
        line-height: 18px;
        .privacy {
            color: $main;
        }
    }
    // Footer Menu
    #menu-footer-menu {
        list-style: none;
        display: flex;
        white-space: nowrap;
        li {
            margin-right: 30px;
            a {
                color: $dark_grey;
                transition: all 0.3s ease-in;
            }
            &:hover a {
                color: $main;
            }
        }
    }
    //Copyright
    .copyright {
        aside {
            @include flexbox(row, space-between, start);
            p {
                font-weight: bold;
                a {
                    color: $black;
                }
            }
        }
    }
}

// Responsive Code

@media screen and (max-width: 991px) {
    footer {
        .newsletter {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        .sub-widgets {
            text-align: center;
        }
        .splw-main-wrapper {
            .splw-lite-wrapper {
                .splw-lite-header {
                    text-align: center;
                }
            }
            .splw-lite-body {
                margin-top: -1rem;
            }
            .splw-cur-temp {
                justify-content: center;
            }
        }
        .wp-block-social-links {
            justify-content: center;
            margin-top: -1rem;
        }
        .newsletter {
            text-align: center;
        }
        .emaillist {
            margin-top: -1rem;
            form {
                justify-content: center;
            }
        }
        #menu-footer-menu {
            flex-direction: column;
            text-align: center;
            line-height: 2;
        }
        .copyright {
            aside {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    footer {
        .sub-widgets {
            &:last-child {
                margin-top: 30px;
            }
        }
        .emaillist {
            form {
                .es-field-wrap {
                    input[type="email"] {
                        width: 200px;
                    }
                }
            }
        }
    }
}