header {
    z-index: 999;
    .navbar {
        background: $white;
    }
    .navbar {
        padding: 18px 0px;
        transition: all 0.2s ease-in;
        .container {
            .site-logo {
                img {
                    max-width: 130px;
                    height: auto;
                    transition: all 0.2s ease-in;
                }
                .main-logo {
                    opacity: 1;
                }
                .alt-logo {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    height: 50px;
                    width: auto;
                }
            }
            .site-emblem {
                display: none;
                img {
                    max-width: 50px;
                    height: auto;
                }
            }
            .site-title {
                display: none;
            }
            #menu-main-menu {
                li {
                    padding: 0 15px;
                    a {
                        color: $black;
                        padding-bottom: 6px;
                        padding-top: 6px;
                    }
                    &:last-child {
                        padding: 0 0 0 5px;
                        margin-top: 5px;
                    }
                }
                .current_page_item {
                    a::before {
                        right: 0 !important;
                    }
                }
                .hvr-effect {
                    a {
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        overflow: hidden;
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: $main;
                            height: 4px;
                            -webkit-transition-property: right;
                            transition-property: right;
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-timing-function: ease-out;
                            transition-timing-function: ease-out;
                        }
                        &:hover::before, &:focus::before, &:active::before {
                            right: 0;
                        }
                    }
                }
                .grey-btn {
                    a {
                        background-color: $grey;
                        padding: 15px 20px;
                        color: $main_hover;
                    }
                }
            }
            .navbar-toggler {
                border: none;
            }
        }
    }
}



// Responsive Code
@media screen and (max-width: 991px) {
    header {
        .navbar {
            background-color: $white;
            padding: 10px 0px;
            .container {
                .site-logo {
                    display: none;
                }
                .site-emblem, .site-title {
                    display: block;
                }
                .navbar-collapse {
                    width: 100%;
                    padding: 20px 0px;
                    #menu-main-menu {
                        line-height: 29px;
                        font-size: 16px;
                        text-transform: none;
                        text-align: center;
                        li {
                            border-bottom: 1px solid $grey_border;
                            padding: 16px 15px;
                            a {
                                color: $black;
                            }
                            &:last-child {
                                padding: 30px 15px;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        .navbar {
            .container{
                .site-logo {
                    img {
                        width: 160px;
                    }
                }
                .site-title {
                    display: none;
                }
            }
        }
    }
}