#home-content {
    #banner {
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include flexbox(column, center, start);
        overflow-x: hidden;
        .container {
            z-index: 2;
            .banner-content {
                #pre-title-text, #title-text, #linked-news {
                    color: $white;
                    margin: 0;
                }
                #pre-title-text, #title-text {
                    padding-bottom: 36px;
                }
                #linked-news {
                    a {
                        color: $white;
                        button {
                            transition: all 0.2s ease-in; 
                            margin-left: 10px;
                        }
                        &:hover button {
                            transform: translate(10px, 0px);
                        }
                    }
                }
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $light_overlay;
            z-index: 1;
        }
        .white-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            z-index: 4;
            transform: translateX(100%);
            animation: 0.8s ease-out 0s 1 slideOutFromLeft;
        }
    }

    #home-section-1 {
        padding: 90px 0px;
        .row:first-child {
            padding-bottom: 120px;
        }
    }

    #home-section-2, #home-section-3 {
        .features {
            .feature-info {
                background-color: $grey;
                color: $black;
                padding: 180px 120px;
                @include flexbox (column, center, start);
                .title, .description {
                    padding-bottom: 35px;
                }
                a {
                    color: $dark;
                    button {
                        transition: all 0.2s ease-in; 
                        margin-left: 10px;
                    }
                    &:hover button {
                        transform: translate(10px, 0px);
                    }
                }
            }
            .background-container {
                height: 588px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .position-absolute {
            top: -26px;
            left: 0;
            z-index: -1;
        }
    }
    #home-section-3 {
        padding: 120px 0px;
    }
    #home-section-4 {
        padding-bottom: 120px;
        a {
            color: $black;
            .btn-arrow {
                transition: all 0.2s ease-in;
            }
            &:hover .btn-arrow{
                transform: translate(10px, 0px);
            }
        }
        .blog {
            img {
              width: 100%;
              height: 700px;
              object-fit: cover;
            }
          }
    }
}


// Keyframes
@keyframes slideOutFromLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
}

// Responsive Code
@media screen and (max-width: 991px) {
    #home-content {
        #home-section-1 {
            padding: 60px 0px;
            .row:first-child {
                padding-bottom: 90px;
            }
        }
        #home-section-2, #home-section-3 {
            .features {
                .feature-info {
                    padding: 120px 60px;
                }
            }
        }
        #home-section-3 {
            padding: 90px 0px;
        }
        #home-section-4 {
            padding-bottom: 60px;
            .blog {
                margin-bottom: 60px;
                img {
                  height: 500px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #home-content {
        #home-section-1 {
            padding: 30px 0px;
            .row:first-child {
                padding-bottom: 60px;
            }
        }
        #home-section-2, #home-section-3 {
            .features {
                .feature-info {
                    padding: 90px 30px;
                }
                .background-container {
                    height: 400px;
                }
            }
            .position-absolute {
                position: relative !important;
                top: 0;
            }
        }
        #home-section-3 {
            padding: 60px 0px;
        }
        #home-section-4 {
            padding-bottom: 0px;
        }
    }
}

@media screen and (max-width: 425px) {
    #home-content {
        #home-section-2, #home-section-3 {
            .features {
                .feature-info {
                    padding: 60px 15px;
                }
                .background-container {
                    height: 300px;
                }
            }
        }
        #home-section-4 {
            .blog {
                img {
                  height: 300px;
                }
            }
        }
    }
}