#rooms-section-1 {
    padding: 90px 0px;
}

#rooms-section-2 {
    a {
        color: $black;
        .btn-arrow {
            transition: all 0.2s ease-in;
        }
        &:hover .btn-arrow{
            transform: translate(10px, 0px);
        }
    }
    .blog {
        margin-bottom: 120px;
        img {
            height: 24rem;
            object-fit: cover;
        }
    }
}

#rooms-section-3 {
    padding: 60px 0px;
    background-color: $grey;
    .amenities-list {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li {
                min-width: 10rem;
                width: 33.33%;
                padding: .5rem;
                &::marker {
                    color: $main;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #rooms-section-2 {
        .blog {
            margin-bottom: 60px;
        }
    }
}