@font-face {
  font-family: 'MavenPro-Black';
  src: url("../fonts/MavenPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro-Medium';
  src: url("../fonts/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'AmasisMT';
  src: url("../fonts/AmasisMT.ttf") format("truetype");
}

.type-m1, .type-m2 {
  font-family: 'MavenPro-Medium', sans-serif;
  font-weight: 500;
}

.type-h1, .type-h2, .type-h3, .type-h4 {
  font-family: 'AmasisMT', serif;
  font-weight: 300;
}

.type-m1 {
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 1.5px;
}

.type-m2 {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 7px;
}

.type-h1 {
  line-height: 82px;
  letter-spacing: .42px;
  font-size: 80px;
}

.type-h2 {
  line-height: 42px;
  letter-spacing: .5px;
  font-size: 30px;
}

.type-h3 {
  line-height: 29px;
  font-size: 16px;
}

.type-h4 {
  font-size: 20px;
  line-height: 31px;
}

.type-uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
  .type-m2 {
    line-height: 14px;
    letter-spacing: 5.5px;
  }
  .type-h1 {
    line-height: 72px;
    letter-spacing: .42px;
    font-size: 70px;
  }
  .type-h2 {
    line-height: 35px;
    letter-spacing: .5px;
    font-size: 28px;
  }
  .type-h3 {
    line-height: 25px;
    font-size: 15px;
  }
  .type-h4 {
    line-height: 26px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .type-m2 {
    line-height: 12px;
    letter-spacing: 4px;
  }
  .type-h1 {
    line-height: 64px;
    letter-spacing: .38px;
    font-size: 58px;
  }
  .type-h2 {
    line-height: 28px;
    letter-spacing: .3px;
    font-size: 22px;
  }
  .type-h3 {
    line-height: 22px;
    font-size: 14px;
  }
  .type-h4 {
    line-height: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .type-m2 {
    line-height: 8px;
    letter-spacing: 4px;
  }
  .type-h1 {
    line-height: 52px;
    letter-spacing: .38px;
    font-size: 40px;
  }
  .type-h2 {
    line-height: 25px;
    letter-spacing: .3px;
    font-size: 18px;
  }
  .type-h3 {
    line-height: 20px;
    font-size: 13px;
  }
  .type-h4 {
    line-height: 18px;
    font-size: 14px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1400px;
}

.btn-arrow {
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  border: 1px solid #cba05b;
  color: #cba05b;
  font-size: 10px;
}

.floating-btn {
  background-color: #cba05b;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: fixed;
  right: 0;
  top: 180px;
  right: 4%;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.4);
          box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.4);
  outline: none;
  border: none;
  color: #ffffff;
}

.floating-btn:hover {
  background-color: #bb8b40;
}

header {
  z-index: 999;
}

header .navbar {
  background: #ffffff;
}

header .navbar {
  padding: 18px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .navbar .container .site-logo img {
  max-width: 130px;
  height: auto;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .navbar .container .site-logo .main-logo {
  opacity: 1;
}

header .navbar .container .site-logo .alt-logo {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 50px;
  width: auto;
}

header .navbar .container .site-emblem {
  display: none;
}

header .navbar .container .site-emblem img {
  max-width: 50px;
  height: auto;
}

header .navbar .container .site-title {
  display: none;
}

header .navbar .container #menu-main-menu li {
  padding: 0 15px;
}

header .navbar .container #menu-main-menu li a {
  color: #333737;
  padding-bottom: 6px;
  padding-top: 6px;
}

header .navbar .container #menu-main-menu li:last-child {
  padding: 0 0 0 5px;
  margin-top: 5px;
}

header .navbar .container #menu-main-menu .current_page_item a::before {
  right: 0 !important;
}

header .navbar .container #menu-main-menu .hvr-effect a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

header .navbar .container #menu-main-menu .hvr-effect a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cba05b;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

header .navbar .container #menu-main-menu .hvr-effect a:hover::before, header .navbar .container #menu-main-menu .hvr-effect a:focus::before, header .navbar .container #menu-main-menu .hvr-effect a:active::before {
  right: 0;
}

header .navbar .container #menu-main-menu .grey-btn a {
  background-color: #f3f3f2;
  padding: 15px 20px;
  color: #bb8b40;
}

header .navbar .container .navbar-toggler {
  border: none;
}

@media screen and (max-width: 991px) {
  header .navbar {
    background-color: #ffffff;
    padding: 10px 0px;
  }
  header .navbar .container .site-logo {
    display: none;
  }
  header .navbar .container .site-emblem, header .navbar .container .site-title {
    display: block;
  }
  header .navbar .container .navbar-collapse {
    width: 100%;
    padding: 20px 0px;
  }
  header .navbar .container .navbar-collapse #menu-main-menu {
    line-height: 29px;
    font-size: 16px;
    text-transform: none;
    text-align: center;
  }
  header .navbar .container .navbar-collapse #menu-main-menu li {
    border-bottom: 1px solid #e2e6e3a6;
    padding: 16px 15px;
  }
  header .navbar .container .navbar-collapse #menu-main-menu li a {
    color: #333737;
  }
  header .navbar .container .navbar-collapse #menu-main-menu li:last-child {
    padding: 30px 15px;
    border-bottom: none;
  }
}

@media screen and (max-width: 425px) {
  header .navbar .container .site-logo img {
    width: 160px;
  }
  header .navbar .container .site-title {
    display: none;
  }
}

footer {
  background-color: #f3f3f2;
  padding: 120px 0px 40px 0px;
}

footer .type-uppercase {
  color: #89868b;
}

footer .splw-main-wrapper {
  margin: 0 !important;
  max-width: 100% !important;
}

footer .splw-main-wrapper .splw-weather-title {
  margin-bottom: 0 !important;
}

footer .splw-main-wrapper .splw-lite-wrapper {
  padding-top: 0;
}

footer .splw-main-wrapper .splw-lite-wrapper .splw-lite-header {
  text-align: left;
  margin: 0;
}

footer .splw-main-wrapper .splw-lite-body {
  padding: 0;
}

footer .splw-main-wrapper .splw-lite-current-temp {
  margin: 0;
}

footer .splw-main-wrapper .splw-cur-temp {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .wp-block-social-links .wp-social-link {
  background-color: #3330 !important;
}

footer .wp-block-social-links .wp-social-link svg {
  color: #333737 !important;
  width: 20px !important;
  height: auto !important;
}

footer .emaillist form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .emaillist form .es-field-wrap {
  margin-bottom: 0;
}

footer .emaillist form .es-field-wrap input[type="email"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #333737;
  background-color: #f3f3f2;
  width: 300px;
  max-width: 100%;
}

footer .emaillist form input[type="submit"] {
  font-family: "Font Awesome 5 Free", "FontAwesome";
  font-weight: 800;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #333737;
  border: 1px solid rgba(63, 68, 68, 0.7);
  background: inherit;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

footer .emaillist form input[type="submit"]:hover {
  background: #333737;
  color: #ffffff;
}

footer .toc {
  letter-spacing: 1px;
  font-size: 12px;
  color: #89868b;
  line-height: 18px;
}

footer .toc .privacy {
  color: #cba05b;
}

footer #menu-footer-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

footer #menu-footer-menu li {
  margin-right: 30px;
}

footer #menu-footer-menu li a {
  color: #89868b;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

footer #menu-footer-menu li:hover a {
  color: #cba05b;
}

footer .copyright aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright aside p {
  font-weight: bold;
}

footer .copyright aside p a {
  color: #333737;
}

@media screen and (max-width: 991px) {
  footer .newsletter {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  footer .sub-widgets {
    text-align: center;
  }
  footer .splw-main-wrapper .splw-lite-wrapper .splw-lite-header {
    text-align: center;
  }
  footer .splw-main-wrapper .splw-lite-body {
    margin-top: -1rem;
  }
  footer .splw-main-wrapper .splw-cur-temp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .wp-block-social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -1rem;
  }
  footer .newsletter {
    text-align: center;
  }
  footer .emaillist {
    margin-top: -1rem;
  }
  footer .emaillist form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #menu-footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 2;
  }
  footer .copyright aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  footer .sub-widgets:last-child {
    margin-top: 30px;
  }
  footer .emaillist form .es-field-wrap input[type="email"] {
    width: 200px;
  }
}

#home-content #banner {
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

#home-content #banner .container {
  z-index: 2;
}

#home-content #banner .container .banner-content #pre-title-text, #home-content #banner .container .banner-content #title-text, #home-content #banner .container .banner-content #linked-news {
  color: #ffffff;
  margin: 0;
}

#home-content #banner .container .banner-content #pre-title-text, #home-content #banner .container .banner-content #title-text {
  padding-bottom: 36px;
}

#home-content #banner .container .banner-content #linked-news a {
  color: #ffffff;
}

#home-content #banner .container .banner-content #linked-news a button {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-left: 10px;
}

#home-content #banner .container .banner-content #linked-news a:hover button {
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
}

#home-content #banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 68, 68, 0.27);
  z-index: 1;
}

#home-content #banner .white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 4;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: 0.8s ease-out 0s 1 slideOutFromLeft;
          animation: 0.8s ease-out 0s 1 slideOutFromLeft;
}

#home-content #home-section-1 {
  padding: 90px 0px;
}

#home-content #home-section-1 .row:first-child {
  padding-bottom: 120px;
}

#home-content #home-section-2 .features .feature-info, #home-content #home-section-3 .features .feature-info {
  background-color: #f3f3f2;
  color: #333737;
  padding: 180px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home-content #home-section-2 .features .feature-info .title, #home-content #home-section-2 .features .feature-info .description, #home-content #home-section-3 .features .feature-info .title, #home-content #home-section-3 .features .feature-info .description {
  padding-bottom: 35px;
}

#home-content #home-section-2 .features .feature-info a, #home-content #home-section-3 .features .feature-info a {
  color: #000000;
}

#home-content #home-section-2 .features .feature-info a button, #home-content #home-section-3 .features .feature-info a button {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-left: 10px;
}

#home-content #home-section-2 .features .feature-info a:hover button, #home-content #home-section-3 .features .feature-info a:hover button {
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
}

#home-content #home-section-2 .features .background-container, #home-content #home-section-3 .features .background-container {
  height: 588px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-content #home-section-2 .position-absolute, #home-content #home-section-3 .position-absolute {
  top: -26px;
  left: 0;
  z-index: -1;
}

#home-content #home-section-3 {
  padding: 120px 0px;
}

#home-content #home-section-4 {
  padding-bottom: 120px;
}

#home-content #home-section-4 a {
  color: #333737;
}

#home-content #home-section-4 a .btn-arrow {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#home-content #home-section-4 a:hover .btn-arrow {
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
}

#home-content #home-section-4 .blog img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes slideOutFromLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideOutFromLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media screen and (max-width: 991px) {
  #home-content #home-section-1 {
    padding: 60px 0px;
  }
  #home-content #home-section-1 .row:first-child {
    padding-bottom: 90px;
  }
  #home-content #home-section-2 .features .feature-info, #home-content #home-section-3 .features .feature-info {
    padding: 120px 60px;
  }
  #home-content #home-section-3 {
    padding: 90px 0px;
  }
  #home-content #home-section-4 {
    padding-bottom: 60px;
  }
  #home-content #home-section-4 .blog {
    margin-bottom: 60px;
  }
  #home-content #home-section-4 .blog img {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  #home-content #home-section-1 {
    padding: 30px 0px;
  }
  #home-content #home-section-1 .row:first-child {
    padding-bottom: 60px;
  }
  #home-content #home-section-2 .features .feature-info, #home-content #home-section-3 .features .feature-info {
    padding: 90px 30px;
  }
  #home-content #home-section-2 .features .background-container, #home-content #home-section-3 .features .background-container {
    height: 400px;
  }
  #home-content #home-section-2 .position-absolute, #home-content #home-section-3 .position-absolute {
    position: relative !important;
    top: 0;
  }
  #home-content #home-section-3 {
    padding: 60px 0px;
  }
  #home-content #home-section-4 {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 425px) {
  #home-content #home-section-2 .features .feature-info, #home-content #home-section-3 .features .feature-info {
    padding: 60px 15px;
  }
  #home-content #home-section-2 .features .background-container, #home-content #home-section-3 .features .background-container {
    height: 300px;
  }
  #home-content #home-section-4 .blog img {
    height: 300px;
  }
}

#rooms-section-1 {
  padding: 90px 0px;
}

#rooms-section-2 a {
  color: #333737;
}

#rooms-section-2 a .btn-arrow {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#rooms-section-2 a:hover .btn-arrow {
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
}

#rooms-section-2 .blog {
  margin-bottom: 120px;
}

#rooms-section-2 .blog img {
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#rooms-section-3 {
  padding: 60px 0px;
  background-color: #f3f3f2;
}

#rooms-section-3 .amenities-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#rooms-section-3 .amenities-list ul li {
  min-width: 10rem;
  width: 33.33%;
  padding: .5rem;
}

#rooms-section-3 .amenities-list ul li::marker {
  color: #cba05b;
}

@media screen and (max-width: 767px) {
  #rooms-section-2 .blog {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */