$main: #cba05b;
$black: #333737;
$dark: #000000;
$white: #ffffff;
$grey: #f3f3f2;
$dark_grey: #89868b;
$light_overlay: rgba(63, 68, 68, 0.27);
$black_overlay: rgba(63, 68, 68, 0.70);
$box_shadow: rgba(51, 51, 51, 0.4);
$white_border: #ffffffa6;
$grey_border: #e2e6e3a6;
$main_hover: #bb8b40;
