* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.container {
    max-width: 1400px;
}

.btn-arrow {
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    border: 1px solid $main;
    color: $main;
    font-size: 10px;
}

.floating-btn {
    background-color: $main;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    position: fixed;
    right: 0;
    top: 180px;
    right: 4%;
    z-index: 10;
    box-shadow: 2px 2px 10px $box_shadow;
    outline: none;
    border: none;
    color: $white;
    &:hover {
        background-color: $main_hover;
    }
}