@font-face {
    font-family: 'MavenPro-Black';
    src: url("../fonts/MavenPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'MavenPro-Medium';
    src: url("../fonts/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'AmasisMT';
    src: url("../fonts/AmasisMT.ttf") format("truetype");
}

// Font Sizes
.type-m1, .type-m2 {
    font-family: 'MavenPro-Medium', sans-serif;
    font-weight: 500;
}

.type-h1, .type-h2, .type-h3, .type-h4 {
    font-family: 'AmasisMT', serif;
    font-weight: 300;
}

.type-m1 {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 1.5px;
}

.type-m2 {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 7px;
}

.type-h1 {
    line-height: 82px;
    letter-spacing: .42px;
    font-size: 80px;
}

.type-h2 {
    line-height: 42px;
    letter-spacing: .5px;
    font-size: 30px;
}

.type-h3 {
    line-height: 29px;
    font-size: 16px;
}

.type-h4 {
    font-size: 20px;
    line-height: 31px;
}

.type-uppercase {
    text-transform: uppercase;
}

// Responsive Code
@media screen and (max-width: 1440px) {
    .type-m2 {
        line-height: 14px;
        letter-spacing: 5.5px;
    }

    .type-h1 {
        line-height: 72px;
        letter-spacing: .42px;
        font-size: 70px;
    }    

    .type-h2 {
        line-height: 35px;
        letter-spacing: .5px;
        font-size: 28px;
    }
    
    .type-h3 {
        line-height: 25px;
        font-size: 15px;
    }

    .type-h4 {
        line-height: 26px;
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .type-m2 {
        line-height: 12px;
        letter-spacing: 4px;
    }

    .type-h1 {
        line-height: 64px;
        letter-spacing: .38px;
        font-size: 58px;
    }    

    .type-h2 {
        line-height: 28px;
        letter-spacing: .3px;
        font-size: 22px;
    }
    
    .type-h3 {
        line-height: 22px;
        font-size: 14px;
    }

    .type-h4 {
        line-height: 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .type-m2 {
        line-height: 8px;
        letter-spacing: 4px;
    }

    .type-h1 {
        line-height: 52px;
        letter-spacing: .38px;
        font-size: 40px;
    }    

    .type-h2 {
        line-height: 25px;
        letter-spacing: .3px;
        font-size: 18px;
    }
    
    .type-h3 {
        line-height: 20px;
        font-size: 13px;
    }

    .type-h4 {
        line-height: 18px;
        font-size: 14px;
    }
}